#root {
  /* texts */
  --color1: #b0b0b0;
  --color2: #939191;
  /* backgrounds */
  --color3: #3f3f3f;
  --color4: #2e2e2e;
  /* borders */
  --color5: #000000;
  /* window params */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--color2);
}
/* standard link */
a:link,
a:visited {
  color: var(--color2);
}

/* mouse over & select link */
a:hover,
a:active {
  color: var(--color1);
}
ul {
  list-style-type: none;
}
header {
  /* formating centering nested elements */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  /* visuals */
  border-bottom: 15px double var(--color3);
  background-color: var(--color4);
  /* background-image: linear-gradient(
      var(--color4),
      var(--color3));  */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color1);
}

nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}
footer {
  color: var(--color1);
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
